@page
@model ChurrasTrinca.Pages.Churrascos.IndexModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
        <h1 class="mb-3">Você já parou para pensar na origem do churrasco?</h1>
        <h2>
            Pois é, não tem! Não existe referência exata sobre a origem do churrasco, mas presume-se que a partir do domínio do fogo na pré-história,
            o homem passou a assar a carne de caça quando percebeu que o processo a deixava mais macia.

            Com o tempo, as técnicas foram sendo aperfeiçoadas, principalmente entre os caçadores e criadores de gado,
            dependendo sempre do tipo de carne e lenha disponíveis.
        </h2>
        <div class="d-flex align-items-center">
            @if (Model.Churrasco.Count() > 0)
            {
                <h2>
                    Se quiser marcar outro churras, é só clicar <a asp-page="/Churrascos/Create" title="Marcar outro churras">aqui</a>, beleza?
                </h2>
            }
            else
            {
                <h2>
                    Parece que nenhum churras foi marcado ainda :(
                    <br />
                    Que tal a gente <a asp-page="/Create" title="Marcar um churras">mudar isso</a>? :)
                </h2>
            }
        </div>
    </div>
</section>

<section id="why-us" class="why-us">
    <div class="container">
        @if (Model.Churrasco.Count() > 0)
        {
            <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                    @foreach (var item in Model.Churrasco)
                    {
                        <div class="col-xl-4 d-flex mb-3 align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-receipt"></i>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="text-start mb-3">
                                            <small>@Html.DisplayFor(modelItem => item.Data)</small>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-end" title="Participantes">
                                            <i class="fa-solid fa-person"></i> @(@item.Participantes.Count() > 0 ? item.Participantes.Count() : 0)
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <h4>@Html.DisplayFor(modelItem => item.Nome)</h4>
                                    <p style="text-align: justify; height: 70px;">@Html.Raw(item.Descricao.ToString().Length > 50 ? string.Format("{0}...", item.Descricao.ToString().Substring(0,80)) : item.Descricao.ToString())</p>
                                </div>

                                <div class="row">
                                    <div class="col-4 text-start">
                                        <a asp-page="./Edit" asp-route-id="@item.Id" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a asp-page="./Details" asp-route-id="@item.Id" title="Detalhes"><i class="fa-solid fa-eye"></i></a>
                                        <a asp-page="./Delete" asp-route-id="@item.Id" title="Deletar"><i class="fa-solid fa-trash"></i></a>
                                    </div>

                                    <div class="col-8 text-end" title="Valor total de contribuição">
                                        <i class="fa-solid fa-dollar-sign"></i> @item.ValorContribuicaoTotal.ToString("C")
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</section>

@if (TempData["Msg"] != null)
{
    <script>
        $(function () {
            $.confirm({
                title: 'Tudo certo por aqui!',
                content: '@TempData["Msg"]',
                type: 'green',
                typeAnimated: true,
                buttons: {
                    Ok: {
                        text: 'Ok',
                        btnClass: 'btn-green',
                        action: function () {
                        }
                    }
                }
            });
        });
    </script>
}